=begin
#Katapult Core API

#Welcome to the documentation for the Katapult Core API

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.1.0

=end

require 'cgi'

module KatapultAPI
  class CoreApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDiskBackupPolicyRequest] :delete_disk_backup_policy_request 
    # @return [DeleteDiskBackupPolicy200Response]
    def delete_disk_backup_policy(opts = {})
      data, _status_code, _headers = delete_disk_backup_policy_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDiskBackupPolicyRequest] :delete_disk_backup_policy_request 
    # @return [Array<(DeleteDiskBackupPolicy200Response, Integer, Hash)>] DeleteDiskBackupPolicy200Response data, response status code and response headers
    def delete_disk_backup_policy_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_disk_backup_policy ...'
      end
      # resource path
      local_var_path = '/disk_backup_policies/:disk_backup_policy'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_disk_backup_policy_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDiskBackupPolicy200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_disk_backup_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_disk_backup_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDiskBackupPolicyScheduleRequest] :delete_disk_backup_policy_schedule_request 
    # @return [DeleteDiskBackupPolicySchedule200Response]
    def delete_disk_backup_policy_schedule(opts = {})
      data, _status_code, _headers = delete_disk_backup_policy_schedule_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDiskBackupPolicyScheduleRequest] :delete_disk_backup_policy_schedule_request 
    # @return [Array<(DeleteDiskBackupPolicySchedule200Response, Integer, Hash)>] DeleteDiskBackupPolicySchedule200Response data, response status code and response headers
    def delete_disk_backup_policy_schedule_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_disk_backup_policy_schedule ...'
      end
      # resource path
      local_var_path = '/disk_backup_policies/:disk_backup_policy/schedule'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_disk_backup_policy_schedule_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDiskBackupPolicySchedule200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_disk_backup_policy_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_disk_backup_policy_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDnsRecordsDnsRecordRequest] :delete_dns_records_dns_record_request 
    # @return [DeleteDnsZone200Response]
    def delete_dns_record(opts = {})
      data, _status_code, _headers = delete_dns_record_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDnsRecordsDnsRecordRequest] :delete_dns_records_dns_record_request 
    # @return [Array<(DeleteDnsZone200Response, Integer, Hash)>] DeleteDnsZone200Response data, response status code and response headers
    def delete_dns_record_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_dns_record ...'
      end
      # resource path
      local_var_path = '/dns_records/:dns_record'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_dns_records_dns_record_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDnsZone200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_dns_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_dns_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDnsRecordsDnsRecordRequest] :delete_dns_records_dns_record_request 
    # @return [DeleteDnsRecordsDnsRecord200Response]
    def delete_dns_records_dns_record(opts = {})
      data, _status_code, _headers = delete_dns_records_dns_record_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDnsRecordsDnsRecordRequest] :delete_dns_records_dns_record_request 
    # @return [Array<(DeleteDnsRecordsDnsRecord200Response, Integer, Hash)>] DeleteDnsRecordsDnsRecord200Response data, response status code and response headers
    def delete_dns_records_dns_record_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_dns_records_dns_record ...'
      end
      # resource path
      local_var_path = '/dns/records/:dns_record'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_dns_records_dns_record_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDnsRecordsDnsRecord200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_dns_records_dns_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_dns_records_dns_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDnsZonesDnsZoneRequest] :delete_dns_zones_dns_zone_request 
    # @return [DeleteDnsZone200Response]
    def delete_dns_zone(opts = {})
      data, _status_code, _headers = delete_dns_zone_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDnsZonesDnsZoneRequest] :delete_dns_zones_dns_zone_request 
    # @return [Array<(DeleteDnsZone200Response, Integer, Hash)>] DeleteDnsZone200Response data, response status code and response headers
    def delete_dns_zone_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_dns_zone ...'
      end
      # resource path
      local_var_path = '/dns_zones/:dns_zone'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_dns_zones_dns_zone_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDnsZone200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_dns_zone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_dns_zone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDnsZonesDnsZoneRequest] :delete_dns_zones_dns_zone_request 
    # @return [DeleteDnsZonesDnsZone200Response]
    def delete_dns_zones_dns_zone(opts = {})
      data, _status_code, _headers = delete_dns_zones_dns_zone_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteDnsZonesDnsZoneRequest] :delete_dns_zones_dns_zone_request 
    # @return [Array<(DeleteDnsZonesDnsZone200Response, Integer, Hash)>] DeleteDnsZonesDnsZone200Response data, response status code and response headers
    def delete_dns_zones_dns_zone_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_dns_zones_dns_zone ...'
      end
      # resource path
      local_var_path = '/dns/zones/:dns_zone'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_dns_zones_dns_zone_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDnsZonesDnsZone200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_dns_zones_dns_zone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_dns_zones_dns_zone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteFileStorageVolumeRequest] :delete_file_storage_volume_request 
    # @return [DeleteFileStorageVolume200Response]
    def delete_file_storage_volume(opts = {})
      data, _status_code, _headers = delete_file_storage_volume_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteFileStorageVolumeRequest] :delete_file_storage_volume_request 
    # @return [Array<(DeleteFileStorageVolume200Response, Integer, Hash)>] DeleteFileStorageVolume200Response data, response status code and response headers
    def delete_file_storage_volume_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_file_storage_volume ...'
      end
      # resource path
      local_var_path = '/file_storage_volumes/:file_storage_volume'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_file_storage_volume_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteFileStorageVolume200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_file_storage_volume",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_file_storage_volume\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteIpAddressRequest] :delete_ip_address_request 
    # @return [Object]
    def delete_ip_address(opts = {})
      data, _status_code, _headers = delete_ip_address_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteIpAddressRequest] :delete_ip_address_request 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_ip_address_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_ip_address ...'
      end
      # resource path
      local_var_path = '/ip_addresses/:ip_address'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_ip_address_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_ip_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_ip_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteLoadBalancerRequest] :delete_load_balancer_request 
    # @return [DeleteLoadBalancer200Response]
    def delete_load_balancer(opts = {})
      data, _status_code, _headers = delete_load_balancer_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteLoadBalancerRequest] :delete_load_balancer_request 
    # @return [Array<(DeleteLoadBalancer200Response, Integer, Hash)>] DeleteLoadBalancer200Response data, response status code and response headers
    def delete_load_balancer_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_load_balancer ...'
      end
      # resource path
      local_var_path = '/load_balancers/:load_balancer'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_load_balancer_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteLoadBalancer200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_load_balancer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_load_balancer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteLoadBalancersRulesLoadBalancerRuleRequest] :delete_load_balancers_rules_load_balancer_rule_request 
    # @return [DeleteLoadBalancersRulesLoadBalancerRule200Response]
    def delete_load_balancers_rules_load_balancer_rule(opts = {})
      data, _status_code, _headers = delete_load_balancers_rules_load_balancer_rule_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteLoadBalancersRulesLoadBalancerRuleRequest] :delete_load_balancers_rules_load_balancer_rule_request 
    # @return [Array<(DeleteLoadBalancersRulesLoadBalancerRule200Response, Integer, Hash)>] DeleteLoadBalancersRulesLoadBalancerRule200Response data, response status code and response headers
    def delete_load_balancers_rules_load_balancer_rule_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_load_balancers_rules_load_balancer_rule ...'
      end
      # resource path
      local_var_path = '/load_balancers/rules/:load_balancer_rule'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_load_balancers_rules_load_balancer_rule_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteLoadBalancersRulesLoadBalancerRule200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_load_balancers_rules_load_balancer_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_load_balancers_rules_load_balancer_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteSecurityGroupRequest] :delete_security_group_request 
    # @return [DeleteSecurityGroup200Response]
    def delete_security_group(opts = {})
      data, _status_code, _headers = delete_security_group_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteSecurityGroupRequest] :delete_security_group_request 
    # @return [Array<(DeleteSecurityGroup200Response, Integer, Hash)>] DeleteSecurityGroup200Response data, response status code and response headers
    def delete_security_group_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_security_group ...'
      end
      # resource path
      local_var_path = '/security_groups/:security_group'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_security_group_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteSecurityGroup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_security_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_security_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteSecurityGroupsRulesSecurityGroupRuleRequest] :delete_security_groups_rules_security_group_rule_request 
    # @return [DeleteSecurityGroupsRulesSecurityGroupRule200Response]
    def delete_security_groups_rules_security_group_rule(opts = {})
      data, _status_code, _headers = delete_security_groups_rules_security_group_rule_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteSecurityGroupsRulesSecurityGroupRuleRequest] :delete_security_groups_rules_security_group_rule_request 
    # @return [Array<(DeleteSecurityGroupsRulesSecurityGroupRule200Response, Integer, Hash)>] DeleteSecurityGroupsRulesSecurityGroupRule200Response data, response status code and response headers
    def delete_security_groups_rules_security_group_rule_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_security_groups_rules_security_group_rule ...'
      end
      # resource path
      local_var_path = '/security_groups/rules/:security_group_rule'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_security_groups_rules_security_group_rule_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteSecurityGroupsRulesSecurityGroupRule200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_security_groups_rules_security_group_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_security_groups_rules_security_group_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteSshKeyRequest] :delete_ssh_key_request 
    # @return [PostOrganizationSshKeys201Response]
    def delete_ssh_key(opts = {})
      data, _status_code, _headers = delete_ssh_key_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteSshKeyRequest] :delete_ssh_key_request 
    # @return [Array<(PostOrganizationSshKeys201Response, Integer, Hash)>] PostOrganizationSshKeys201Response data, response status code and response headers
    def delete_ssh_key_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_ssh_key ...'
      end
      # resource path
      local_var_path = '/ssh_keys/:ssh_key'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_ssh_key_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostOrganizationSshKeys201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_ssh_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_ssh_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteTagRequest] :delete_tag_request 
    # @return [PostOrganizationTags200Response]
    def delete_tag(opts = {})
      data, _status_code, _headers = delete_tag_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteTagRequest] :delete_tag_request 
    # @return [Array<(PostOrganizationTags200Response, Integer, Hash)>] PostOrganizationTags200Response data, response status code and response headers
    def delete_tag_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_tag ...'
      end
      # resource path
      local_var_path = '/tags/:tag'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_tag_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostOrganizationTags200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteTrashObjectRequest] :delete_trash_object_request 
    # @return [PutVirtualMachinePackage200Response]
    def delete_trash_object(opts = {})
      data, _status_code, _headers = delete_trash_object_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteTrashObjectRequest] :delete_trash_object_request 
    # @return [Array<(PutVirtualMachinePackage200Response, Integer, Hash)>] PutVirtualMachinePackage200Response data, response status code and response headers
    def delete_trash_object_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_trash_object ...'
      end
      # resource path
      local_var_path = '/trash_objects/:trash_object'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_trash_object_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PutVirtualMachinePackage200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_trash_object",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_trash_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteVirtualMachineRequest] :delete_virtual_machine_request 
    # @return [DeleteVirtualMachine200Response]
    def delete_virtual_machine(opts = {})
      data, _status_code, _headers = delete_virtual_machine_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteVirtualMachineRequest] :delete_virtual_machine_request 
    # @return [Array<(DeleteVirtualMachine200Response, Integer, Hash)>] DeleteVirtualMachine200Response data, response status code and response headers
    def delete_virtual_machine_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_virtual_machine ...'
      end
      # resource path
      local_var_path = '/virtual_machines/:virtual_machine'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_virtual_machine_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteVirtualMachine200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_virtual_machine",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_virtual_machine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteVirtualMachineGroupRequest] :delete_virtual_machine_group_request 
    # @return [PostOrganizationVirtualMachineGroups200Response]
    def delete_virtual_machine_group(opts = {})
      data, _status_code, _headers = delete_virtual_machine_group_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [DeleteVirtualMachineGroupRequest] :delete_virtual_machine_group_request 
    # @return [Array<(PostOrganizationVirtualMachineGroups200Response, Integer, Hash)>] PostOrganizationVirtualMachineGroups200Response data, response status code and response headers
    def delete_virtual_machine_group_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.delete_virtual_machine_group ...'
      end
      # resource path
      local_var_path = '/virtual_machine_groups/:virtual_machine_group'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_virtual_machine_group_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostOrganizationVirtualMachineGroups200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.delete_virtual_machine_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#delete_virtual_machine_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :certificate_id All &#39;certificate[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetCertificate200Response]
    def get_certificate(opts = {})
      data, _status_code, _headers = get_certificate_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :certificate_id All &#39;certificate[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetCertificate200Response, Integer, Hash)>] GetCertificate200Response data, response status code and response headers
    def get_certificate_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_certificate ...'
      end
      # resource path
      local_var_path = '/certificates/:certificate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'certificate[id]'] = opts[:'certificate_id'] if !opts[:'certificate_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCertificate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_certificate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_certificate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [GetCountries200Response]
    def get_countries(opts = {})
      data, _status_code, _headers = get_countries_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [Array<(GetCountries200Response, Integer, Hash)>] GetCountries200Response data, response status code and response headers
    def get_countries_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_countries ...'
      end
      # resource path
      local_var_path = '/countries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCountries200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_countries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_countries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_id All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :country_iso_code2 All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :country_iso_code3 All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetCountry200Response]
    def get_country(opts = {})
      data, _status_code, _headers = get_country_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_id All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :country_iso_code2 All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :country_iso_code3 All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetCountry200Response, Integer, Hash)>] GetCountry200Response data, response status code and response headers
    def get_country_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_country ...'
      end
      # resource path
      local_var_path = '/countries/:country'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country[id]'] = opts[:'country_id'] if !opts[:'country_id'].nil?
      query_params[:'country[iso_code2]'] = opts[:'country_iso_code2'] if !opts[:'country_iso_code2'].nil?
      query_params[:'country[iso_code3]'] = opts[:'country_iso_code3'] if !opts[:'country_iso_code3'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCountry200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_country",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_country\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_id All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :country_iso_code2 All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :country_iso_code3 All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [GetCountryCountryStates200Response]
    def get_country_country_states(opts = {})
      data, _status_code, _headers = get_country_country_states_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_id All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :country_iso_code2 All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :country_iso_code3 All &#39;country[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [Array<(GetCountryCountryStates200Response, Integer, Hash)>] GetCountryCountryStates200Response data, response status code and response headers
    def get_country_country_states_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_country_country_states ...'
      end
      # resource path
      local_var_path = '/countries/:country/country_states'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country[id]'] = opts[:'country_id'] if !opts[:'country_id'].nil?
      query_params[:'country[iso_code2]'] = opts[:'country_iso_code2'] if !opts[:'country_iso_code2'].nil?
      query_params[:'country[iso_code3]'] = opts[:'country_iso_code3'] if !opts[:'country_iso_code3'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCountryCountryStates200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_country_country_states",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_country_country_states\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_state_id All &#39;country_state[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetCountryState200Response]
    def get_country_state(opts = {})
      data, _status_code, _headers = get_country_state_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_state_id All &#39;country_state[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetCountryState200Response, Integer, Hash)>] GetCountryState200Response data, response status code and response headers
    def get_country_state_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_country_state ...'
      end
      # resource path
      local_var_path = '/country_states/:country_state'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country_state[id]'] = opts[:'country_state_id'] if !opts[:'country_state_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCountryState200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_country_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_country_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [GetCurrencies200Response]
    def get_currencies(opts = {})
      data, _status_code, _headers = get_currencies_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [Array<(GetCurrencies200Response, Integer, Hash)>] GetCurrencies200Response data, response status code and response headers
    def get_currencies_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_currencies ...'
      end
      # resource path
      local_var_path = '/currencies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCurrencies200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_currencies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_currencies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id All &#39;currency[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :currency_iso_code All &#39;currency[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetCurrency200Response]
    def get_currency(opts = {})
      data, _status_code, _headers = get_currency_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id All &#39;currency[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :currency_iso_code All &#39;currency[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetCurrency200Response, Integer, Hash)>] GetCurrency200Response data, response status code and response headers
    def get_currency_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_currency ...'
      end
      # resource path
      local_var_path = '/currencies/:currency'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'currency[id]'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?
      query_params[:'currency[iso_code]'] = opts[:'currency_iso_code'] if !opts[:'currency_iso_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCurrency200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_currency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_currency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :data_center_id All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :data_center_permalink All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetDataCenter200Response]
    def get_data_center(opts = {})
      data, _status_code, _headers = get_data_center_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :data_center_id All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :data_center_permalink All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetDataCenter200Response, Integer, Hash)>] GetDataCenter200Response data, response status code and response headers
    def get_data_center_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_data_center ...'
      end
      # resource path
      local_var_path = '/data_centers/:data_center'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data_center[id]'] = opts[:'data_center_id'] if !opts[:'data_center_id'].nil?
      query_params[:'data_center[permalink]'] = opts[:'data_center_permalink'] if !opts[:'data_center_permalink'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDataCenter200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_data_center",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_data_center\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :data_center_id All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :data_center_permalink All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetDataCenterDefaultNetwork200Response]
    def get_data_center_default_network(opts = {})
      data, _status_code, _headers = get_data_center_default_network_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :data_center_id All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :data_center_permalink All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetDataCenterDefaultNetwork200Response, Integer, Hash)>] GetDataCenterDefaultNetwork200Response data, response status code and response headers
    def get_data_center_default_network_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_data_center_default_network ...'
      end
      # resource path
      local_var_path = '/data_centers/:data_center/default_network'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data_center[id]'] = opts[:'data_center_id'] if !opts[:'data_center_id'].nil?
      query_params[:'data_center[permalink]'] = opts[:'data_center_permalink'] if !opts[:'data_center_permalink'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDataCenterDefaultNetwork200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_data_center_default_network",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_data_center_default_network\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :data_center_id All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :data_center_permalink All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [GetDataCenterGpuTypes200Response]
    def get_data_center_gpu_types(opts = {})
      data, _status_code, _headers = get_data_center_gpu_types_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :data_center_id All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :data_center_permalink All &#39;data_center[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [Array<(GetDataCenterGpuTypes200Response, Integer, Hash)>] GetDataCenterGpuTypes200Response data, response status code and response headers
    def get_data_center_gpu_types_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_data_center_gpu_types ...'
      end
      # resource path
      local_var_path = '/data_centers/:data_center/gpu_types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data_center[id]'] = opts[:'data_center_id'] if !opts[:'data_center_id'].nil?
      query_params[:'data_center[permalink]'] = opts[:'data_center_permalink'] if !opts[:'data_center_permalink'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDataCenterGpuTypes200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_data_center_gpu_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_data_center_gpu_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [GetDataCenters200Response]
    def get_data_centers(opts = {})
      data, _status_code, _headers = get_data_centers_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDataCenters200Response, Integer, Hash)>] GetDataCenters200Response data, response status code and response headers
    def get_data_centers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_data_centers ...'
      end
      # resource path
      local_var_path = '/data_centers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDataCenters200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_data_centers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_data_centers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_id All &#39;disk[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetDisk200Response]
    def get_disk(opts = {})
      data, _status_code, _headers = get_disk_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_id All &#39;disk[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetDisk200Response, Integer, Hash)>] GetDisk200Response data, response status code and response headers
    def get_disk_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_disk ...'
      end
      # resource path
      local_var_path = '/disks/:disk'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disk[id]'] = opts[:'disk_id'] if !opts[:'disk_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDisk200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_disk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_disk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_backup_policy_id All &#39;disk_backup_policy[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetDiskBackupPolicy200Response]
    def get_disk_backup_policy(opts = {})
      data, _status_code, _headers = get_disk_backup_policy_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_backup_policy_id All &#39;disk_backup_policy[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetDiskBackupPolicy200Response, Integer, Hash)>] GetDiskBackupPolicy200Response data, response status code and response headers
    def get_disk_backup_policy_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_disk_backup_policy ...'
      end
      # resource path
      local_var_path = '/disk_backup_policies/:disk_backup_policy'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disk_backup_policy[id]'] = opts[:'disk_backup_policy_id'] if !opts[:'disk_backup_policy_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDiskBackupPolicy200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_disk_backup_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_disk_backup_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_id All &#39;disk[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [GetDiskDiskBackupPolicies200Response]
    def get_disk_disk_backup_policies(opts = {})
      data, _status_code, _headers = get_disk_disk_backup_policies_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_id All &#39;disk[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [Array<(GetDiskDiskBackupPolicies200Response, Integer, Hash)>] GetDiskDiskBackupPolicies200Response data, response status code and response headers
    def get_disk_disk_backup_policies_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_disk_disk_backup_policies ...'
      end
      # resource path
      local_var_path = '/disks/:disk/disk_backup_policies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disk[id]'] = opts[:'disk_id'] if !opts[:'disk_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDiskDiskBackupPolicies200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_disk_disk_backup_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_disk_disk_backup_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_template_id All &#39;disk_template[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :disk_template_permalink All &#39;disk_template[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetDiskTemplate200Response]
    def get_disk_template(opts = {})
      data, _status_code, _headers = get_disk_template_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_template_id All &#39;disk_template[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :disk_template_permalink All &#39;disk_template[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetDiskTemplate200Response, Integer, Hash)>] GetDiskTemplate200Response data, response status code and response headers
    def get_disk_template_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_disk_template ...'
      end
      # resource path
      local_var_path = '/disk_templates/:disk_template'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disk_template[id]'] = opts[:'disk_template_id'] if !opts[:'disk_template_id'].nil?
      query_params[:'disk_template[permalink]'] = opts[:'disk_template_permalink'] if !opts[:'disk_template_permalink'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDiskTemplate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_disk_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_disk_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_template_version_id All &#39;disk_template_version[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetDiskTemplateVersion200Response]
    def get_disk_template_version(opts = {})
      data, _status_code, _headers = get_disk_template_version_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_template_version_id All &#39;disk_template_version[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetDiskTemplateVersion200Response, Integer, Hash)>] GetDiskTemplateVersion200Response data, response status code and response headers
    def get_disk_template_version_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_disk_template_version ...'
      end
      # resource path
      local_var_path = '/disk_template_versions/:disk_template_version'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disk_template_version[id]'] = opts[:'disk_template_version_id'] if !opts[:'disk_template_version_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDiskTemplateVersion200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_disk_template_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_disk_template_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_template_version_id All &#39;disk_template_version[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetDiskTemplateVersionSpec200Response]
    def get_disk_template_version_spec(opts = {})
      data, _status_code, _headers = get_disk_template_version_spec_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_template_version_id All &#39;disk_template_version[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetDiskTemplateVersionSpec200Response, Integer, Hash)>] GetDiskTemplateVersionSpec200Response data, response status code and response headers
    def get_disk_template_version_spec_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_disk_template_version_spec ...'
      end
      # resource path
      local_var_path = '/disk_template_versions/:disk_template_version/spec'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disk_template_version[id]'] = opts[:'disk_template_version_id'] if !opts[:'disk_template_version_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDiskTemplateVersionSpec200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_disk_template_version_spec",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_disk_template_version_spec\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_template_id All &#39;disk_template[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :disk_template_permalink All &#39;disk_template[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [GetDiskTemplateVersions200Response]
    def get_disk_template_versions(opts = {})
      data, _status_code, _headers = get_disk_template_versions_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :disk_template_id All &#39;disk_template[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :disk_template_permalink All &#39;disk_template[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @return [Array<(GetDiskTemplateVersions200Response, Integer, Hash)>] GetDiskTemplateVersions200Response data, response status code and response headers
    def get_disk_template_versions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_disk_template_versions ...'
      end
      # resource path
      local_var_path = '/disk_templates/:disk_template/versions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disk_template[id]'] = opts[:'disk_template_id'] if !opts[:'disk_template_id'].nil?
      query_params[:'disk_template[permalink]'] = opts[:'disk_template_permalink'] if !opts[:'disk_template_permalink'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDiskTemplateVersions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_disk_template_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_disk_template_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :dns_record_id All &#39;dns_record[]&#39; params are mutually exclusive, only one can be provided.
    # @return [PostDnsZoneRecords200Response]
    def get_dns_record(opts = {})
      data, _status_code, _headers = get_dns_record_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :dns_record_id All &#39;dns_record[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(PostDnsZoneRecords200Response, Integer, Hash)>] PostDnsZoneRecords200Response data, response status code and response headers
    def get_dns_record_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_dns_record ...'
      end
      # resource path
      local_var_path = '/dns_records/:dns_record'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dns_record[id]'] = opts[:'dns_record_id'] if !opts[:'dns_record_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostDnsZoneRecords200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_dns_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_dns_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :dns_record_id All &#39;dns_record[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetDnsRecordsDnsRecord200Response]
    def get_dns_records_dns_record(opts = {})
      data, _status_code, _headers = get_dns_records_dns_record_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :dns_record_id All &#39;dns_record[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetDnsRecordsDnsRecord200Response, Integer, Hash)>] GetDnsRecordsDnsRecord200Response data, response status code and response headers
    def get_dns_records_dns_record_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_dns_records_dns_record ...'
      end
      # resource path
      local_var_path = '/dns/records/:dns_record'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dns_record[id]'] = opts[:'dns_record_id'] if !opts[:'dns_record_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDnsRecordsDnsRecord200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_dns_records_dns_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_dns_records_dns_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :dns_zone_id All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :dns_zone_name All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetDnsZonesDnsZone200Response]
    def get_dns_zone(opts = {})
      data, _status_code, _headers = get_dns_zone_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :dns_zone_id All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :dns_zone_name All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetDnsZonesDnsZone200Response, Integer, Hash)>] GetDnsZonesDnsZone200Response data, response status code and response headers
    def get_dns_zone_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_dns_zone ...'
      end
      # resource path
      local_var_path = '/dns_zones/:dns_zone'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dns_zone[id]'] = opts[:'dns_zone_id'] if !opts[:'dns_zone_id'].nil?
      query_params[:'dns_zone[name]'] = opts[:'dns_zone_name'] if !opts[:'dns_zone_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDnsZonesDnsZone200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_dns_zone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_dns_zone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :dns_zone_id All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :dns_zone_name All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetDnsZoneRecords200Response]
    def get_dns_zone_records(opts = {})
      data, _status_code, _headers = get_dns_zone_records_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :dns_zone_id All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :dns_zone_name All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetDnsZoneRecords200Response, Integer, Hash)>] GetDnsZoneRecords200Response data, response status code and response headers
    def get_dns_zone_records_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_dns_zone_records ...'
      end
      # resource path
      local_var_path = '/dns_zones/:dns_zone/records'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dns_zone[id]'] = opts[:'dns_zone_id'] if !opts[:'dns_zone_id'].nil?
      query_params[:'dns_zone[name]'] = opts[:'dns_zone_name'] if !opts[:'dns_zone_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDnsZoneRecords200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Authenticator']

      new_options = opts.merge(
        :operation => :"CoreApi.get_dns_zone_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoreApi#get_dns_zone_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :dns_zone_id All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :dns_zone_name All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @return [GetDnsZonesDnsZone200Response]
    def get_dns_zones_dns_zone(opts = {})
      data, _status_code, _headers = get_dns_zones_dns_zone_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :dns_zone_id All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @option opts [String] :dns_zone_name All &#39;dns_zone[]&#39; params are mutually exclusive, only one can be provided.
    # @return [Array<(GetDnsZonesDnsZone200Response, Integer, Hash)>] GetDnsZonesDnsZone200Response data, response status code and response headers
    def get_dns_zones_dns_zone_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoreApi.get_dns_zones_dns_zone ...'
      end
      # resource path
      local_var_path = '/dns/zones/:dns_zone'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dns_zone[id]'] = opts[:'dns_zone_id'] if !opts[:'dns_zone_id'].nil?
      query_params[:'dns_zone[name]'] = opts[:'dns_zone_name'] if !opts[:'dns_zone_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
[...]
